.light {
  font-weight: 300;
}
#products li {
	font-size: 0.9em;
}
#products li span {
	font-size: 1.6em;
	font-weight: 300;
}
.panel.vanilla {
	background: #fff !important;
}
#products h4 {
	font-size: 1.9em;
	font-weight: 300;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	color: #777;
}
#projects h4 {
	font-size: 1.9em;
	font-weight: 300;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	color: #777;
}
#projects p {
	font-size: 1.4em;
	font-weight: 300;
	font-style: italic;
}
#projects {
	padding-bottom: 1em;
}
